<a href="https://colab.research.google.com/github/siglimumuni/Published-Articles/blob/main/10_Python_Tips_and_Tricks_for_Data_Science_and_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Simplify if/else statements with ternary conditionals

In [ ]:
#set condition as True
condition = True

#assign 1 0r 0 to x depending on condition
if condition == True:
  x = 1
else:
  x = 0

print(x)

1

In [ ]:
condition = True

x = 1 if condition else 0

print(x)

1

## 2. Automatic indexing with enumerate()

In [ ]:
fruits = ["Banana","Pear","Apple","Mango","Avocado"]

index = 0
for fruit in fruits:
  print(index,fruit)
  index+=1

0 Banana
1 Pear
2 Apple
3 Mango
4 Avocado

In [ ]:
fruits = ["Banana","Pear","Apple","Mango","Avocado"]

for index,fruit in enumerate(fruits):
  print(index, fruit)

0 Banana
1 Pear
2 Apple
3 Mango
4 Avocado

## 3. Using number separators for large numbers

In [ ]:
#no seperators
num1 = 10000000000
num2 = 1000000000

print(num1 + num2)

#using underscores as seperators
num1 = 10_000_000_000
num2 = 1_000_000_000

print(num1 + num2)

11000000000
11000000000

In [ ]:
num1 = 10_000_000_000
num2 = 1_000_000_000

print(f"{num1+num2:,}")

11,000,000,000

## 4. Error Handling with try/except

In [ ]:
def divide_numbers(a,b):
  return a/b

divide_numbers(3,0)

In [ ]:
def divide_numbers(a,b):
  try:
    return a/b
  except ZeroDivisionError:
    print("You can't divide a number by zero. Please enter another number")

divide_numbers(3,0)

You can't divide a number by zero. Please enter another number

## 5. Combining lists with zip()

In [ ]:
names = ["Benjamin West","Jeffrey Graham","Jennifer Knox","Autumn Brown","Ryan Craig"]
ages = [28,32,40,43,33,46]
cities = ["Toronto","Pretoria","Nairobi","Hong Kong","Manilla"]

In [ ]:
index = 0
for name in names:
  age = ages[index]
  city = cities[index]
  print(f"{name} is {age} years old and lives in {city}")
  index += 1

Benjamin West is 28 years old and lives in Toronto
Jeffrey Graham is 32 years old and lives in Pretoria
Jennifer Knox is 40 years old and lives in Nairobi
Autumn Brown is 43 years old and lives in Hong Kong
Ryan Craig is 33 years old and lives in Manilla

In [ ]:
names = ["Benjamin West","Jeffrey Graham","Jennifer Knox","Autumn Brown","Ryan Craig"]
ages = [28,32,40,43,33,46]
cities = ["Toronto","Pretoria","Nairobi","Hong Kong","Manilla"]

for name, age, city in zip(names,ages,cities):
  print(f"{name} is {age} years old and lives in {city}")

Benjamin West is 28 years old and lives in Toronto
Jeffrey Graham is 32 years old and lives in Pretoria
Jennifer Knox is 40 years old and lives in Nairobi
Autumn Brown is 43 years old and lives in Hong Kong
Ryan Craig is 33 years old and lives in Manilla

## 6. Creating quick lists with list comprehensions

In [ ]:
squares_list = []
for num in range(1,11):
  squares_list.append(num**2)

print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares_list2 = [num**2 for num in range(1,11)]
print(squares_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares_list3 = [num**2 for num in range(1,11) if num%2==0]
print(squares_list3)

[4, 16, 36, 64, 100]

## 7. Converting an iterable into a string with join()

In [ ]:
favorites = ["bikes","video games","watches"]

favorites_joined = ""
for item in favorites:
  favorites_joined+=item+", "

print(f"He loves three things more than any others: {favorites_joined}.")

He loves three things more than any others: bikes, video games, watches, .

In [ ]:
favorites_str = ', '.join(favorites)

print(f"He loves three things more than any others: {favorites_str}.")

He loves three things more than any others: bikes, video games, watches.

## 8. Counting item occurrences with collections.Counter

In [ ]:
characters = ["a","a","b","d","b","c","b","e","c"]

char_count = {}

for character in characters:
    if character not in char_count:
        char_count[character] = 1
    else:
        char_count[character] += 1

print(char_count)

{'a': 2, 'b': 3, 'd': 1, 'c': 2, 'e': 1}

In [ ]:
from collections import Counter

Counter(characters)

Counter({'a': 2, 'b': 3, 'c': 2, 'd': 1, 'e': 1})

##9. Simplifying functions with Lambda expressions

In [ ]:
def squared(x):
  num_squared = x**2
  return num_squared

squared(4)

16

In [ ]:
squared = lambda x:x**2
squared(4)

16

In [ ]:
add_numbers = lambda x,y: x + y
add_numbers(3,5)

8

## 10. Setting a default dictionary value with the get() method

In [ ]:
positions = {'James': 'Data Analyst', 'Mary': 'Data Engineer','Scott':'Data Scientist'}
employee_list = ['James','Mary','Joanna','Scott']

for employee in employee_list:
  if positions.get(employee)==None:
    print(employee,':',"No entry")
  else:
    print(employee,':', positions.get(employee))

James : Data Analyst
Mary : Data Engineer
Joanna : No entry
Scott : Data Scientist

In [ ]:
for employee in employee_list:
  print(employee,':',positions.get(employee,"No entry"))

James : Data Analyst
Mary : Data Engineer
Joanna : No entry
Scott : Data Scientist