<a href="https://colab.research.google.com/github/siglimumuni/Published-Articles/blob/main/12_Python_Built_In_Functions_for_Data_Science_and_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Enumerate**

In [2]:
fruits = ["Banana", "Strawberry", "Apple", "Orange", "Peach"]

for index, fruit in enumerate(fruits):
  print(index, fruit)

0 Banana
1 Strawberry
2 Apple
3 Orange
4 Peach

In [60]:
for index, fruit in enumerate(fruits, start=1):
  print(index, fruit)

1 Banana
2 Strawberry
3 Apple
4 Orange
5 Peach

In [4]:
fruit_list = list(enumerate(fruits, 1))
print(fruit_list)

[(1, 'Banana'), (2, 'Strawberry'), (3, 'Apple'), (4, 'Orange'), (5, 'Peach')]

## **2. Sorted**

In [6]:
letters = ["j","b","e","i","f","c","a","d","h","g"]

sorted(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [34]:
numbers = (6,3,7,2,10,1,4,8,5,9)

sorted(numbers, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## **3. Zip**

In [2]:
firstnames = ["John","Amanda","Eric","Joanna"]
lastnames = ["Tukey","MacPherson","Voight","Halstead"]

x = zip(firstnames,lastnames)
print(list(x))

[('John', 'Tukey'), ('Amanda', 'MacPherson'), ('Eric', 'Voight'), ('Joanna', 'Halstead')]

In [35]:
#Create dictionary from two lists
y = dict(zip(firstnames,lastnames))
print(y)

{'John': 'Tukey', 'Amanda': 'MacPherson', 'Eric': 'Voight', 'Joanna': 'Halstead'}

In [3]:
ages = [31,42,33,50]

for firstname, lastname, age in zip(firstnames, lastnames, ages):
    print(f"{firstname} {lastname} is {age} years old")

John Tukey is 31 years old
Amanda MacPherson is 42 years old
Eric Voight is 33 years old
Joanna Halstead is 50 years old

In [36]:
#Unpack list of tuples
fullnames = [('John', 'Tukey'), ('Amanda', 'MacPherson'), ('Eric', 'Voight'), ('Joanna', 'Halstead')]
firstnames, lastnames = zip(*fullnames)

print(firstnames)
print(lastnames)

('John', 'Amanda', 'Eric', 'Joanna')
('Tukey', 'MacPherson', 'Voight', 'Halstead')

## **4. Map**

In [1]:
numbers = [1,2,3,4,5]

def num_doubler(number):
  return number * 2

x = map(num_doubler,numbers)
print(list(x))

[2, 4, 6, 8, 10]

## **5. Filter**

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

def is_even(number):
  return number % 2 == 0

x = filter(is_even,numbers)

print(list(x))

[2, 4, 6, 8, 10]

## **6. Isinstance**

In [41]:
a = [1,2,3,4,5]
b = (4,2)
c = "abcde"
d = 8

print(isinstance(a,list))
print(isinstance(b,tuple))
print(isinstance(c,set))
print(isinstance(d,int))

True
True
False
True

## **7. Range**

In [48]:
#List of numbers from 0 to 5
print(list(range(6)))

#List of numbers from 1 to 5
print(list(range(1,6)))

#List of even numbers from 2 to 10
print(list(range(2,11,2)))

[0, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

## **8. Round**

In [56]:
pi = 3.14159265359

print(round(pi))
print(round(pi,2))

3
3.14

## **9. Set**

In [7]:
a = [1,2,3,4,5,5,"a","b","b"]

b = set(a)

print(b)

{1, 2, 3, 4, 5, 'b', 'a'}

## **10. All and Any**

In [15]:
#Check if all numbers in the list are even
print(all([number%2 == 0 for number in [2,4,6,8,10]]))

print(all([number%2 == 0 for number in [1,2,3,4,5]]))

True
False

In [16]:
#Check if at least one number in the list is even
print(any([number%2 == 0 for number in [1,2,3,4,5]]))

print(any([number%2 == 0 for number in [1,3,5,7,9]]))

True
False

## **11. Eval**

In [19]:
print(eval("2+4"))

print(eval("2**2"))

print(eval("sum([2,4,6])"))

6
4
12

## **12. Format**

In [24]:
# Float to two decimal places
print(format(123.4567898, ".2f"))

#Float to percentage with one decimal place
print(format(0.5746,'.1%'))

# Exponential notation
print(format(123.45789,'+.2e'))

#Binary
print(format(10,"b"))

123.46
57.5%
+1.23e+02
1010