<a href="https://colab.research.google.com/github/siglimumuni/Published-Articles/blob/main/A_Beginner's_Guide_to_Web_Scraping_in_Python_Marvel_Movie%C2%A0List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

#specify the url for the page to be scraped
url = "https://en.wikipedia.org/wiki/List_of_films_based_on_Marvel_Comics_publications"

#fetch the contents of the page
html = requests.get(url)

In [ ]:
#parse the html using a beautiful soup object
soup = BeautifulSoup(html.content,features='html.parser')
print(soup)

In [ ]:
#search for the first table on the page
first_table = soup.find('table',{'class':'wikitable sortable'})
print(first_table.prettify())

In [ ]:
#return all rows in the table
rows = first_table.find_all('tr')

#print the first row
print(rows[1])

<tr>
<td>1986
</td>
<td><i><a href="/wiki/Howard_the_Duck_(film)" title="Howard the Duck (film)">Howard the Duck</a></i>
</td>
<td><a href="/wiki/Universal_Pictures" title="Universal Pictures">Universal Pictures</a>
</td>
<td>Co-produced by <a href="/wiki/Lucasfilm" title="Lucasfilm">Lucasfilm</a>
</td></tr>

In [ ]:
#create empty list to store movie titles
movie_list  = []

#loop through every row and extract relevang values
for row in rows:
  values = row.find_all('i')
  
  #loop through all the values and extract movie title
  for  value in values:
    movie_list.append(value.getText())

print(movie_list)
print(len(movie_list))

['Howard the Duck', 'Blade', 'X-Men', 'Blade II', 'Spider-Man', 'Daredevil', 'X2', 'Hulk', 'The Punisher', 'Spider-Man 2', 'Blade: Trinity', 'Elektra', 'Fantastic Four', 'X-Men: The Last Stand', 'Ghost Rider', 'Spider-Man 3', 'Fantastic Four: Rise of the Silver Surfer', 'Iron Man', 'The Incredible Hulk', 'Punisher: War Zone', 'X-Men Origins: Wolverine', 'Iron Man 2', 'Thor', 'X-Men: First Class', 'Captain America: The First Avenger', 'Ghost Rider: Spirit of Vengeance', 'The Avengers', 'The Amazing Spider-Man', 'Iron Man 3', 'The Wolverine', 'Thor: The Dark World', 'Captain America: The Winter Soldier', 'The Amazing Spider-Man 2', 'X-Men: Days of Future Past', 'Guardians of the Galaxy', 'Avengers: Age of Ultron', 'Ant-Man', 'Fantastic Four', 'Deadpool', 'Captain America: Civil War', 'X-Men: Apocalypse', 'Doctor Strange', 'Logan', 'Guardians of the Galaxy Vol. 2', 'Spider-Man: Homecoming', 'Thor: Ragnarok', 'Black Panther', 'Avengers: Infinity War', 'Deadpool 2', 'Once Upon a Deadpool', 'Ant-Man and the Wasp', 'Venom', 'Captain Marvel', 'Avengers: Endgame', 'Dark Phoenix', 'Spider-Man: Far From Home', 'The New Mutants', 'Black Widow', 'Shang-Chi and the Legend of the Ten Rings', 'Venom: Let There Be Carnage', 'Eternals', 'Spider-Man: No Way Home', 'Morbius', 'Doctor Strange in the Multiverse of Madness', 'Thor: Love and Thunder', 'Black Panther: Wakanda Forever', 'Kraven the Hunter', 'Ant-Man and the Wasp: Quantumania', 'The Marvels', 'Guardians of the Galaxy Vol. 3', 'Madame Web']
71

In [ ]:
#convert list to a pandas dataframe
df = pd.DataFrame(movie_list,columns=["Title"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   71 non-null     object
dtypes: object(1)
memory usage: 696.0+ bytes

In [ ]:
#save dataframe as a csv file
df.to_csv("marvel_movie_list.csv")

In [ ]:
#alternative method - use pandas to parse html table
movie_list = pd.read_html(str(first_table))
print(type(movie_list))

<class 'list'>

In [ ]:
# convert list to dataframe
df=pd.DataFrame(movie_list[0])
df.head()

,Year,Title,Production studio(s),Notes,Unnamed: 4
0,1986,Howard the Duck,Universal Pictures,Co-produced by Lucasfilm,NaN
1,1998,Blade,New Line Cinema,NaN,NaN
2,2000,X-Men,20th Century Fox,NaN,NaN
3,2002,Blade II,New Line Cinema,NaN,NaN
4,2002,Spider-Man,Columbia Pictures,Nominated for 2 Oscars,NaN