<a href="https://colab.research.google.com/github/siglimumuni/Published-Articles/blob/main/A_Complete_Guide_to_the_Python_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Empty dictionary
my_dict1 = {}

#With integer keys and string values
my_dict2 = {1:"Banana",2:"Orange", 3:"Strawberry"}

#With mixed data types
my_dict3 = {"Name":"John","Age":34, "Married":True, "Children":["Ken","Jane"]}

#With tuples
my_dict4 = dict([(1,"Banana"),(2,"Orange"),(3,"Strawberry")])

#From two lists
my_dict5 = dict(zip([1,2,3],["Banana","Orange","Strawberry"]))

print(my_dict1)
print(my_dict2)
print(my_dict3)
print(my_dict4)
print(my_dict5)

{}
{1: 'Banana', 2: 'Orange', 3: 'Strawberry'}
{'Name': 'John', 'Age': 34, 'Married': True, 'Children': ['Ken', 'Jane']}
{1: 'Banana', 2: 'Orange', 3: 'Strawberry'}
{1: 'Banana', 2: 'Orange', 3: 'Strawberry'}

In [17]:
bio_data = {"firstname": "Kweku",
           "lastname": "Mensah",
           "age":27,
           "married": False,
           "hobbies": ["reading","travelling"]
            }

print(bio_data.get("firstname"))

print(bio_data["firstname"])

Kweku
Kweku

In [9]:
print(bio_data["hobbies"][0])

print(bio_data["hobbies"][1])

reading
travelling

In [10]:
print(bio_data.get("pets"))

print(bio_data.get("pets","no such key"))

None
no such key

In [11]:
bio_data["pets"] = {"dog":"Milo", "cat":"Luna"}

print(bio_data["pets"])

{'dog': 'Milo', 'cat': 'Luna'}

In [18]:
#Original value
print(bio_data["married"])

#Assigning a new value
bio_data["married"] = True

#New value
print(bio_data["married"])

False
True

In [19]:
del bio_data["lastname"]

print(bio_data.get("lastname"))

None

In [20]:
#iterating through a dictionary
for value in bio_data:
  print(bio_data[value])

Kweku
27
True
['reading', 'travelling']

In [21]:
#iterating through a dictionary with .items()
for key, value in bio_data.items():
  print(key,":",value)

firstname : Kweku
age : 27
married : True
hobbies : ['reading', 'travelling']

In [1]:
car_info = {"make":"Toyota","model":"Camry","year":2018}

print("make" in car_info)
print("price" in car_info)
print("model" not in car_info)

True
False
False

In [26]:
#Dictionary comprehension
d = {x:x*2 for x in range(6)}
print(d)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [27]:
#Dictionary comprehension with condition
d = {x:x*2 for x in range(6) if x%2==0}
print(d)

{0: 0, 2: 4, 4: 8}

In [15]:
#the clear() method
d = {"A":1,"B":2,"C":3}

d.clear()

print(d)

{}

In [16]:
#The keys() method
d = {"A":1,"B":2,"C":3}

print(d.keys())

dict_keys(['A', 'B', 'C'])

In [17]:
#The values() method
d = {"A":1,"B":2,"C":3}

print(d.values())

dict_values([1, 2, 3])

In [18]:
#The pop() method
d = {"A":1,"B":2,"C":3}
d.pop("C")

3

In [19]:
#The pop() method with default argument
d = {"A":1,"B":2,"C":3}
d.pop("D","doesn't exist")

"doesn't exist"

In [20]:
#The popitem() method
d = {"A":1,"B":2,"C":3}
d.popitem()

('C', 3)

In [22]:
#The update() method
d1 = {"A":1,"B":2,"C":3}
d2 = {"B":4,"D":5}

d1.update(d2)
print(d1)

{'A': 1, 'B': 4, 'C': 3, 'D': 5}

In [23]:
#The fromkeys() method
d = {}.fromkeys(["A","B","C","D"],0)
print(d)

{'A': 0, 'B': 0, 'C': 0, 'D': 0}

In [3]:
import pandas as pd

employees = {"Firstname":["Allie","Percy","Fay"],
           "Lastname":["Grater","Vere","Daway"],
           "Age":[25,37,40],
           "Position":["Data Analyst","Data Engineer","Data Scientist"]}

employees_df = pd.DataFrame(employees)
print(employees_df)

  Firstname Lastname  Age        Position
0     Allie   Grater   25    Data Analyst
1     Percy     Vere   37   Data Engineer
2       Fay    Daway   40  Data Scientist